html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  word-wrap: none;
}
  
li.link {
  float: left;
}

li.link a {
  display: block;
  color: black;
  font-family: mono, Helvetica, sans-serif;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 0.65rem;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: grid;
  height: 98%;
  width: 100%;
}

.grid-container {
  display: inline-grid;
  grid-template-areas:
    'header header header header header header'
    'left main main main main main'
    'left main main main main main'
    'footer footer footer footer footer footer';
  grid-template-rows: 0.25fr 0.75fr 0.75fr 0.25fr;
  grid-gap: 0;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: auto;
}

  .grid-container > div {
    background-color: salmon; 
    text-align: center;
    padding-bottom: 0;
  }
    .item1 { grid-area: header; }
    .item2 { grid-area: main; }
    /* item 3 min-width creates a buffer section for peeking bear to appear without affecting grid's format */
    /* removing min-width or setting to an insufficient value forces grid item 2's content to shift during animation */
    .item3 { grid-area: left; min-width: 2.5rem; }
    .item4 { grid-area: footer; margin-bottom: 1rem; }

.bear-logo {
  opacity: 90%;
  height: 4.5rem;
  width: auto;
  margin: 0 1.33rem;
  padding-top: 0.25rem;
}

.rb {
  height: 4.75rem;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(2rem, auto);
  grid-gap: 2rem;
  margin: 1rem 2rem;
  align-content: center;
  justify-content: center;
  transform: translateX(-1.5rem);
}

  .content-title {
    display: grid;
    color: #fff;
    font-family: mono, Helvetica, sans-serif;
    font-size: 1.375rem;
    line-height: 1.375rem;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    transform: translate(-1.5rem, -0.75rem);
  }

    .box {
      display: grid;
      background-color: #fff;
      height: 7rem;
      width: 7.25rem;
      border: 0.125rem solid #fff;
      box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      -o-box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      -webkit-box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      -moz-box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      font-size: 0.65rem;
      line-height: 0.625rem;
      font-display: swap;
      text-align: center;
      margin: 0 auto;
      font-family: mono, Helvetica, sans-serif;
      transform: translateY(-0.75rem);
    }

      .icons {
        margin: 0 auto;
        margin-bottom: 0.75rem;
        height: 4rem;
        width: auto;
        opacity: 90%;
      }

.polar {
  display: grid;
  height: 5rem;
  padding: 0;
  margin: 0 auto;
  transform: translateY(15rem);
  animation: peekaboo 4000ms forwards ease-in;
}

  @keyframes peekaboo {
    0% { margin-left: -5rem; }
    100% { margin-left: -0.45rem; }
  }

.footer-logo {
  display: inline-grid;
  position: relative;
  padding: 0 0.33rem;
  margin: 0 auto;
  margin-top: -0.33rem;
  height: 1.75rem;
  opacity: 90%;
}



/* Larger phones, like the iPhone XR/XS */
@media only screen and (min-height: 896px) {
  .box {
    margin: 1rem auto;
  }
  .footer-logo {
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.675rem;
    margin-bottom: 1.675rem;
  }
  .polar {
    transform: translateY(20rem);
  }
}


/* Samsung and Google phones, smaller screens like the Note 3 and Google Pixel 2 */
@media only screen and (max-height: 668px) {
  .box {
    height: 5.5rem;
    transform: translateY(-1rem);
  }
  .footer-logo {
    translate: 0 -0.5em;
  }
  .icons {
    height: 3rem;
  }

  .polar {
    transform: translateY(13rem);
  }
}

/*
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
*/

/* MEDIA QUERY FOR PC/LAPTOP (LARGE SCREENS) */
@media (min-width: 1028px) {

  li.link a {
    font-size: 1rem;
    margin-left: 1rem;
  }
  
    .grid-container > div {
      background-color: salmon; 
      text-align: center;
      padding-bottom: 0;
    }
      .item1 { grid-area: header; }
      .item2 { grid-area: main; }
      .item3 { grid-area: left; min-width: 6rem; }
      .item4 { grid-area: footer; margin-bottom:1rem; }
  
  .bear-logo {
    height: 7rem;
    margin: 0 7rem;
  }
  
  .rb {
    height: 7rem;
  }
  
  .content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(5rem, auto);
    transform: translate(-10rem, -2rem);
  }
  
    .content-title {
      font-size: 2.5rem;
      line-height: 2.5rem;
      transform: translate(-10rem, -2rem);
    }
  
      .box {
        height: 11rem;
        width: 11rem;
        box-shadow: 0 0.25rem rgba(100, 100, 100, 0.2);
        -o-box-shadow: 0 0.25rem rgba(100, 100, 100, 0.2);
        -webkit-box-shadow: 0 0.25rem rgba(100, 100, 100, 0.2);
        -moz-box-shadow: 0 0.25rem rgba(100, 100, 100, 0.2);
        font-size: 1rem;
        line-height: 1rem;
      }
  
        .icons {
          height: 6.5rem;
        }
  
  .polar {
    height: 10rem;
    transform: translateY(13rem);
  }
  
    @keyframes peekaboo {
      0% { margin-left: -5.5rem; }
      100% { margin-left: -0.75rem; }
    }
  
  .footer-logo {
    padding: 0 0.5rem;
    transform:translateX(-0.75rem);
    margin-bottom: 0;
  }
}