ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: none;
  background-color: #fff;
}

li.links {
  float: left;
}

li.links a {
  display: block;
  color: black;
  font-family: monospace, mono, 'Roboto', Helvetica, sans-serif;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 0.65rem;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: nowrap;
}

.wrapper {
  display: grid;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.gridContainer {
  display: inline-grid;
  grid-template-areas:
    'header header header header header header'
    'left main main main main main'
    'left main main main main main'
    'footer footer footer footer footer footer';
  grid-template-rows: 0.25fr 0.75fr 0.75fr 0.25fr;
  grid-gap: 0;
  height: calc(100vh - 40px);
  width: auto;
  background-color: #6699ff;
}

  .gridContainer > div {
    text-align: center;
    padding-bottom: 0;
  }
  
    .item1 { grid-area: header; }
    .item2 { grid-area: main; }
    /* item 3 min-width creates a buffer section for peeking bear to appear without affecting grid's format */
    /* removing min-width or setting to an insufficient value forces grid item 2's content to shift during animation */
    .item3 { grid-area: left; min-width: 2.5rem; }
    .item4 { grid-area: footer; }

  .bunchabears {
    background-color: #ffdab9;
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    padding: 1rem 0;
  }

    .bearLogo {
      opacity: 0.9;
      height: 4rem;
      width: auto;
      margin: 0 1.33rem;
      padding-top: 0.25rem;
      transform: translate(-1rem, 0);
    }
    
      #rb {
        height: 4.25rem;
      }

.contentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(2rem, auto);
  grid-gap: 2rem;
  margin: 1rem 2rem;
  align-content: center;
  transform: translate(-1.5rem, -1.5rem);
  -webkit-transform: translate(-1.5rem, -1.5rem);
  -moz-transform: translate(-1.5rem, -1.5rem);
  -o-transform: translate(-1.5rem, -1.5rem);
}

  .contentTitle {
    display: grid;
    color: #fff;
    font-family: monospace, mono, 'Roboto', Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    transform: translate(-2rem, -1.5rem);
    -webkit-transform: translate(-2rem, -1.5rem);
    -o-transform: translate(-2rem, -1.5rem);
    -moz-transform: translate(-2rem, -1.5rem);
  }

    .box {
      display: grid;
      background-color: #fff;
      height: 6rem;
      width: 7.25rem;
      border: 0.125rem solid #fff;
      box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      -o-box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      -webkit-box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      -moz-box-shadow: 0 0.1875rem rgba(100, 100, 100, 0.2);
      font-size: 0.65rem;
      line-height: 0.625rem;
      font-display: swap;
      text-align: center;
      margin: 0 auto;
      margin-top: 0.5rem;
      font-family: monospace, mono, 'Roboto', Helvetica, sans-serif;
      user-select: none;
    }

    .icons {
      margin: 0 auto;
      margin-bottom: 0.75rem;
      height: 3.75rem;
      width: auto;
      opacity: 0.9;
    }

    .polar {
      display: grid;
      height: 5rem;
      padding: 0;
      margin: 0 auto;
      transform: translateY(15rem);
      -webkit-transform: translateY(15rem);
      -moz-transform: translateY(15rem);
      -o-transform: translateY(15rem);
      animation: peekaboo 3000ms forwards ease-in;
    }
    
      @keyframes peekaboo {
        0% { margin-left: -5rem; }
        100% { margin-left: -0.45rem; }
      }

      .footerLogo {
        display: inline-block;
        margin: 0 0.33rem;
        height: 1.75rem;
        bottom: 2rem;
        opacity: 0.9;
      }


/* XSmall devices like iPhone 5 */
@media only screen and (min-width: 300px) and (max-width: 340px) and (max-height: 569px) {
  .bearLogo {
    transform: translateX(0);
  }
  li.links a {
    font-size: 0.6rem;
  }
  .contentTitle {
    display: grid;
    font-size: 0.75rem;
    transform: translate(-1.5rem, -1.5rem);
  }
  .box {
    height: 3.9rem;
    width: 5.5rem;
    font-size: 0.5rem;
    line-height: 0.5rem;
    margin: 0 auto;
  }
  .icons {
    height: 2.25rem;
  }
  .polar {
    transform: translateY(7rem);
  }
  .footerLogo {
    height: 1.25rem;
    bottom: 10px;
  }
}

/* XSmall phones Landscape orientation */
@media only screen and (min-width: 320px) and (max-height: 569px) and (orientation: landscape) {
  .footerLogo {
    display: none;
  }
}

/* Small devices, such as the Note 3 and iPhone 6/7/8 */
@media only screen and (min-height: 569px) and (max-height: 737px) {
  .contentContainer {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .contentTitle {
    display: grid;
  }
  
  .box {
    height: 6rem;
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
  }
  .icons {
    height: 3.75rem;
  }
  .polar {
    transform: translateY(13rem);
    -webkit-transform: translateY(13rem);
    -moz-transform: translateY(13rem);
    -o-transform: translateY(13rem);
  }
  .footerLogo {
    display: inline-block;
    bottom: 2rem;
    height: 1.5rem;
  }
}

/* Larger phones, like the iPhone XR/XS */
@media only screen and (min-height: 896px) and (max-width: 900px) {
  .contentTitle {
    display: grid;
    font-size: 1.675rem;
    margin-bottom: 1.675rem;
    transform: translate(-2rem, -1rem);
    -webkit-transform: translate(-2rem, -1rem);
    -moz-transform: translate(-2rem, -1rem);
    -o-transform: translate(-2rem, -1rem);
  }
  .box {
    margin: 1rem auto;
  }
  .polar {
    transform: translateY(20rem);
    -webkit-transform: translateY(20rem);
    -moz-transform: translateY(20);
    -o-transform: translateY(20rem);
  }
  .footerLogo {
    margin-top: 1rem;
    bottom: 10px;
  }
}

/* Landscape orientation mobile devices */
@media only screen and (max-width: 1050px) and (orientation: landscape) {
  .bunchabears {
    height: 3rem;
  }
  .bearLogo {
    height: 3.5rem;
    transform: translateX(0.65rem);
  }
  .contentContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10px, auto);
    transform: translate(-2rem, -2rem);
    padding-top: 0.5rem;
  }
  .contentTitle {
    transform: translate(-4rem, -2rem);
    display: none;
  }
  .box {
    height: 4rem;
    width: 7.5rem;
    margin-bottom: -1.25rem;
    font-size: 0.65rem;
    line-height: 0.65rem;
  }
  .icons {
    height: 2rem;
  }
  .polar {
    transform: translateY(1rem);
  }
}

/*
////////////////////////////////////////////////////////////////////////
*/

/* Desktop and laptop stylesheet */
@media screen and (min-width: 1080px) {

  li.links a {
    font-size: 1rem;
    margin-left: 1rem;
  }

  li.links:hover {
    transform:scaleX(1.025);
  }

  .item3 { grid-area: left; min-width: 6rem; }
  .item4 { grid-area: footer; margin-bottom:1rem; }

  .bunchabears {
    padding: 1rem 0;
  }
  
  .bearLogo {
    height: 7rem;
    margin: 0 7rem;
    user-select: none;
    cursor: grabbing;
    transform: translateX(0);
  }

  .bearLogo:hover {
    opacity: 0.8;
  }  
  #rb {
    height: 6.25rem;
  }
  
  .contentContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    transform: translate(-10rem, -5rem);
    -webkit-transform: translate(-10rem, -5rem);
    -moz-transform: translate(-10rem, -5rem);
    -o-transform: translate(-10rem, -5rem);
  }
  
    .contentTitle {
      display: grid;
      font-size: 2.75rem;
      line-height: 2.75rem;
      margin-bottom: 2%;
      transform: translate(-10rem, -3rem);
      -webkit-transform: translate(-10rem, -3rem);
      -moz-transform: translate(-10rem, -3rem);
      -o-transform: translate(-10rem, -3rem);
      user-select: none;
    }
  
      .box {
        height: 10rem;
        width: 11rem;
        box-shadow: 0 0.275rem rgba(100, 100, 100, 0.2);
        -o-box-shadow: 0 0.275rem rgba(100, 100, 100, 0.2);
        -webkit-box-shadow: 0 0.275rem rgba(100, 100, 100, 0.2);
        -moz-box-shadow: 0 0.275rem rgba(100, 100, 100, 0.2);
        font-size: 1rem;
        line-height: 1rem;
        margin: 0 auto;
      }

      .box:hover {
        opacity: 0.9;
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transition-duration: 200ms;
        -webkit-transition-duration: 200ms;
        -moz-transition-duration: 200ms;
        -o-transition-duration: 200ms;
        background-color: #ffdab9;
      }
  
        .icons {
          height: 6rem;
        }
  
  .polar {
    height: 10rem;
    transform: translateY(13rem);
    -webkit-transform: translateY(13rem);
    -moz-transform: translateY(13rem);
    -o-transform: translateY(13rem);
  }
  
    @keyframes peekaboo {
      0% { margin-left: -5.5rem; }
      100% { margin-left: -0.75rem; }
    }
    
    .footerLogo {
      display: inline-block;
      padding: 0 0.25rem;
      padding-top: 1%;
      transform: translate(-0.75rem, 0rem);
      -webkit-transform: translate(-0.75rem, 0rem);
      -moz-transform: translate(-0.75rem, 0rem);
      -o-transform: translate(-0.75rem, 0rem);
      bottom: 10px;
    }
}