body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, mono, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: navajowhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}


.App {
  text-align: center;
  display: grid;
}


.brave {
  font-size: 3rem;
  font-family: monospace;
  color: #fff;
  padding: 0;
  margin: 0 auto;
}

.bear {
  height: 10vmax;
  pointer-events: none;
  padding: 0 1rem;
  margin: 0 auto;
}

button {
  display: flexbox;
  width: 15rem;
  height: 15rem;
  justify-content: center;
  align-content: center;
  margin: 3%;
  border: 0;
  border-radius: 12rem;
}

li.links {
  float: left;
}

li.links a {
  display: block;
  color: black;
  font-family: mono, Helvetica, sans-serif;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Desktop and laptop stylesheet */
@media (min-width: 1028px) {
  .brave {
    font-size: 12rem;
  }
}