html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, mono, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: navajowhite;
}

body {
  min-height: 100%;
}

code {
  font-family: monospace, mono, 'Roboto', Helvetica, sans-serif;
}

.App {
  text-align: center;
  display: grid;
  height: 100%;
  width: auto;
  background-color: navajowhite;
}

.brave {
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  padding: 0;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 100%;
  background-color: cornflowerblue;
  padding: 1.5rem 0;
  margin-top: -0.5rem;
}

.bear {
  height: 12vmax;
  pointer-events: none;
  padding: 0 1rem;
  margin: 0 auto;
}

.threeBears {
  margin: 1rem auto;
}

button {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  margin-top: 2rem;
  border: 0;
  border-radius: 10rem;
}

li.links {
  float: left;
}

li.links a {
  display: block;
  color: black;
  font-family: monospace, mono, 'Roboto', Helvetica, sans-serif;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 0.65rem;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smaller devices, such as the Note 3 and iPhone 6/7/8 */
@media only screen and (max-height: 668px) {
  button {
    width: 9rem;
    height: 9rem;
  }
}

@media only screen and (max-height: 800px) {
  button {
    width: 8rem;
    height: 8rem;
  }
}

/* Larger phones, like the iPhone XR/XS */
@media only screen and (min-height: 896px) {
  button {
    width: 12rem;
    height: 12rem;
  }
}

/* Landscape orientation mobile devices */
@media only screen and (max-width: 1050px) and (orientation: landscape) {
  button {
    display: inline-table;
    margin: 1rem 2rem;
  }
  .brave {
    text-decoration: double;
    text-decoration-color: black;
  }
  .bear {
    height: 13vmax;
    margin: 0 auto;
  }
}


/* Desktop and laptop stylesheet */
@media (min-width: 1028px) {
  .brave {
    font-size: 10rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  li.links a {
    font-size: 1rem;
    margin-left: 0.75rem;
  }

  button {
    display: inline-grid;
    width: 100%;
    width: 18rem;
    height: 18rem;
    border-radius: 18rem;
    margin: 4rem;
}

  button:hover {
    opacity: 0.6;
    transform: scale(1.2);
    transition-duration: 650ms;
    box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.5);
  }
}