body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, mono, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: navajowhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}


.App {
  text-align: center;
  display: grid;
}

.bear {
  height: 20vmax;
  pointer-events: none;
  padding: 0 1rem;
  margin-top: 2rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .bear {
    animation: bear-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

